RewriteEngine On
RewriteBase /MVC/public/

# Quy tắc để xử lý URL dạng /controller/action
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)$ index.php?controller=$1&action=$2 [QSA,L]

# Quy tắc cho các URL logout và login
RewriteRule ^logout$ index.php?controller=home&action=logout [QSA,L]
RewriteRule ^login$ index.php?controller=home&action=login [QSA,L]

# Quy tắc này là để xử lý các URL khác
RewriteRule ^(.*)$ index.php [QSA,L]

# Thêm quy tắc cho phép truy cập tài nguyên tĩnh (images, css, js)
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} \.(jpg|jpeg|png|gif|css|js|bmp|svg|webp)$ [NC]
RewriteRule ^(.*)$ - [L]
